.text{
    display: inline-block;
    font-size: 20px;
    width: 800px;
    height: auto;
}

.blank{
    font-size: 20px;
    outline: none;
    border-radius: 3px;
    border: none;
    text-align: center;
    box-shadow: 0 0 32px rgb(16 11 0 / 20%);
}

.correct{
    background-color: rgba(20, 175, 0, 0.5);
    border: none;
    box-shadow: 0 0 16px rgba(0, 255, 13, 0.5)
}

.incorrect{
    background-color: rgba(255, 130, 130, 0.75);
    border: none;
    box-shadow: 0 0 16px rgba(255, 0, 0, 0.25)
}