.text {
    display: inline-block;
    font-size: 20px;
    width: 800px;
    height: auto;
}

.passage-box span .blank {
    font-size: 1rem;
    font-family: custom1;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(220, 220, 220);
    text-align: center;
    padding: 5px;
    padding-block: 3px;
}

.passage-box span .correct {
    background-color: rgb(30, 255, 0);
    border: none;
}

.passage-box span .incorrect {
    background-color: red;
    color: white;
    border: none;
}

.passage-info .black{
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}