.text{
    display: inline-block;
    font-size: 20px;
    width: 800px;
    height: auto;
}

.blank{
    font-size: 20px;
    outline: none;
    border-radius: 3px;
    border: 1px solid var(--tertiary-color);
    text-align: center;
}

.correct{
    background-color: rgba(145, 255, 130, 0.185);
    border: 1px solid rgb(146, 255, 136);
}

.incorrect{
    background-color: rgba(255, 130, 130, 0.185);
    border: 1px solid rgb(255, 136, 136);
}