.account-container{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 85vh;
    justify-items: center;
    text-align: start;
}

.setting-header{
    font-size: 25px;
    justify-self: center;
    align-self: flex-end;
    font-family: custom2;
    font-weight: lighter;
    color: var(--tertiary-color);
}

.profile-settings{
    width: 80%;
    height: 50%;
    background-color: transparent;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.profile-setting{
    width: 75%;
    color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: custom2;
    font-size: 16px;
    justify-self: center;
    max-width: 550px;
    min-width: 500px;
}

.profile-setting p{
    justify-self: flex-end;
}

.profile-setting input{
    width: 400px;
    font-family: custom2;
    font-size: 16px;
    outline: none;
    justify-self: flex-start;
}

.profile-settings button{
    margin-top: 30px;
}
