body{
  background-color: var(--secondary-color);
  /* background-image: linear-gradient(to bottom, var(--primary-color), #997456); */
  background-repeat: space;
  height: auto;
}

::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb{
  width: 5px;
  background-color: #3b230f;
  border-radius: 3px;
}

@font-face {
  font-family: 'custom1';
  src: url('./Fonts/Quicksand-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'custom2';
  src: url('./Fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'custom3';
  src: url('./Fonts/Quicksand-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'bible1';
  src: url('./Fonts/OldStandardTT-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'bible2';
  src: url('./Fonts/OldStandardTT-Bold.ttf') format('truetype');
}


:root{
  --primary-color : #173c5e81;
  --secondary-color : #146dc009;
  --tertiary-color : #021f3b;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.default-btn{
  font-family: custom2;
  font-weight: lighter;
  background-color: var(--tertiary-color);
  color: white;
  font-weight: lighter;
  padding: 12px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 2px;
  outline: none;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.default-btn:hover{
  animation-name: btnHover;
  animation-duration: .25s;
  animation-iteration-count: 1;
}

.default-btn:disabled{
  background-color: #4d3b2d6c;
}

@keyframes btnHover {
  0%   {transform: scale(1)}
  25%  {transform: scale(.9)}
  50%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}

.default-select{
  font-size: 20px;
  font-family: custom2;
  font-weight: lighter;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--tertiary-color);
  background-color: var(--secondary-color);
  color: black;
  width: 150px;
}

.default-label{
  font-size: 20px;
  font-family: custom1;
  font-weight: lighter;
  color: var(--tertiary-color);
}

.black{
  background-color: black;
}

.default-input{
  background-color: var(--secondary-color);
  border-radius: 2px;
  outline: none;
  font-family: custom1;
  border: 2px solid var(--primary-color);
  padding: 6px;
}

.default-input:focus{
  background-color: var(--secondary-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 2px;
  outline: none;
}
