.guest-body{
    width: 50%;
    height: 95vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-left: 25%;
    grid-gap: 10px;
}

.guest-body h2{
    font-family: custom2;
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin: 0%;
    margin-bottom: 20px;
    width: 70%;
}

.card-container button{
    width: 100%;
    height: 75px;
    font-size: 18px;
    font-weight: lighter;
    font-family: custom1;
    transition-duration: .15s;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px;
    align-self: flex-end;
}

.card-container button:hover{
    animation: none;
    background-color: #4e2d12;
}

.card-container{
    display: grid;
    justify-items: center;
    text-align: center;
    margin-bottom: 100px;
    background-color: tra;
    width: 70%;
    height: 40%;
    padding-top: 20px;
    min-width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: .75s;
    cursor: pointer;
}

.card-container:hover{
    transform: scale(1.05);
}

.card-container img{
    background-size: 5%
}