.top-bar{
    background-color: transparent;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.top-bar button{
    background-color: transparent;
    font-family: custom2;
    color: var(--tertiary-color);
    font-weight: normal;
    font-size: 17.5px;
    border:none;
    border-bottom: 1px solid transparent;
    transition-duration: .1s;
    height: 50px;
}

.top-bar button:hover{
    color: #b4947a;
    transition-duration: .1s;
}

.top-left{
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-left button{
    margin-left: 20px;
}

.top-right{
    display: flex;
    justify-content: center;
    justify-self: center;
}

.top-right button{
    margin-right: 15px;
    white-space: nowrap;
}

.top-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 40px;
}

.top-search input[type = text]{
    outline: none;
    font-size: 15px;
    padding: 3px;
    font-family: custom2;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.top-search .search-button{
    background-color: transparent;
    border: 2px solid #5735029f;
    border-left: none;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
    width: 15px;
    height: 20px;
}