.top-bar{
    background-color: transparent;
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.top-bar button{
    background-color: transparent;
    font-family: custom3;
    color: black;
    font-size: 0.85rem;
    border:none;
    border-bottom: 1px solid transparent;
    transition-duration: .1s;
    height: 50px;
}

.top-bar button:hover{
    color: rgb(0, 4, 255);
    transition-duration: .1s;
    cursor: pointer;
}

.top-left{
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-left button{
    margin-left: 20px;
}

.top-right{
    display: flex;
    justify-content: center;
    justify-self: center;
}

.top-right button{
    margin-right: 15px;
    white-space: nowrap;
}

.top-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 40px;
}

.top-search input[type = text]{
    outline: none;
    font-size: 15px;
    padding: 3px;
    font-family: custom1;
    border-right: none;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: custom2;
    border-color: black;
}

.top-search .search-button{
    background-color: black;
    border: 2px solid black;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
    width: 15px;
    height: 20px;
    cursor: pointer;
}

.top-search input[type = text]::placeholder{
    color: rgb(175, 175, 175)
}