.memorize-form-container{
    height: 95vh;
}

.heading-container{
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    width: 100vw;
}

.heading-container h1{
    align-self: flex-end;
    margin: 0px;
    color: black;
    white-space: nowrap;
}

.heading-container h2{
    align-self: flex-start;
    color: grey;
    margin: 0px;
    font-weight: lighter;
}

.verse-container-outer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.verse-container-inner{
    width: 500px;
    height: 500px;
    /* background-color: rgba(0, 10, 102, 0.1); */
    /* border: 1px solid var(--tertiary-color); */
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    justify-items: center;
    align-items: center;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19); */
}

.verse-container-inner h2{
    color: rgb(0, 0, 0);
    margin-top: 10px;
    font-weight: bold; 
    font-size: 2rem;
    font-family: custom4;
}

.verse-container-inner h3{
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 0px;
    font-family: custom2;
}

.stage-container{
    display: grid;
    grid-template-rows: 100px 1fr;
    justify-items: center;
    align-items: flex-start;
    height: 100vh;
}

.loading-indicator{
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    animation-name: loading;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    opacity: 1;
    position: absolute;
    left: calc(50vw - 5px);
    top: calc(50vh - 5px);
}

@keyframes loading{
    0% {
        transform: scaleY(1);
    }

    25% {
        transform: scaleY(5);
    }

    50% {
        transform: scaleY(1);
        transform: scaleX(1);
    }

    75% {
        transform: scaleX(7);
    }

    100% {
        transform: scaleX(1);
    }
}



