.results-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(95vh, auto);
    justify-items: center;
}

.results-container h1{
    color: black;
    text-align: center;
    font-family: custom1;
    font-weight: lighter;
}