.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.inner-container{
    background-color: transparent;
    width: 600px;
    height: auto;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 5vh;
}

.inner-container h1{
    justify-self: center;
    font-size: 25px;
    font-weight: lighter;
}

.inner-container input{
    font-size: 18px;
    font-family: custom1;
}

.inner-container button{
    margin: 20px;
}

.pop-up-message{
    position: fixed;
    left: 40vw;
    top: 10vh;
    width: 20vw;
    height: 5vh;
    background-color: rgb(146, 70, 70);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: popUpMessage;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.pop-up-message p{
    font-family: custom1;
    color: white;
}

@keyframes popUpMessage {
    0% {
        left: 40vw;
        top: 5vh;
        opacity: 0;
    }

    15% {
        left: 40vw;
        top: 7vh;
        opacity: 1;
    }

    85% {
        left: 40vw;
        top: 7vh;
        opacity: 1;
    }

    100% {
        left: 40vw;
        top: 5vh;
        opacity: 0;
    }
}