.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.inner-container{
    background-color: white;
    width: 600px;
    height: auto;
    border-radius: 3px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 10vh;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}

.inner-container h1{
    justify-self: center;
    font-size: 25px;
    font-weight: lighter;
}

.inner-container input{
    font-size: 18px;
    font-family: custom1;
}

.inner-container button{
    margin: 20px;
}