.dashboard-container{
    height: 95vh;
    width: 100vw;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    justify-items: center;
    text-align: center;
}

.prayer-requests, .saved-verses{
    background-color: #3d1c01c2;
    border-radius: 3px;
    height: 92%;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: flex-start;
    overflow-y: scroll;
    justify-items: center;
    scrollbar-color: red;
}

.saved-verses{
    grid-column-start: 3;
}

.prayer-requests h2, .saved-verses h2{
    justify-self: center;
    font-weight: normal;
    font-family: custom1;
    font-size: 20px;
    color: var(--primary-color);
}

.item-container{
    background-color: #997456;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 5%;
    padding-left: 5%;
    text-align: start;
    height: 100px;
    display: grid;
    margin-left: 20px;
    transition-duration: .25s;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}   

.item-container:hover{
    background-color: #b69479;
}   

.item-container h3{
    margin: 5px;
    color:  #573519;
    font-weight: bolder;
}   

.item-container p{
    font-size: 15px;
    color: white;
}   

.nouser-container{
    height: 95vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
}

.nouser-container h2{
    align-self: flex-end;
}

.buttons button{
    width: 150px;
    margin-left: 10px;
}

.request-container{
    background-color: #b69479;
    width: 90%;
    border-radius: 3px;
    margin-left: 18px;
    margin-top: 20px;
    padding-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.request-container h3{
    margin: 5px;
    color:  #573519;
    font-weight: bolder;
    font-size: 15px;
}

.request-container p{
    color: white;
    font-size: 18px;
}


.request-container button{
    margin: 10px;
}

.request-container .decline{
    background-color: #3d241186;
}

