body{
    overflow-y: scroll;
    overflow-x: hidden;
    height: auto;
}

.outer-container{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px minmax(100vh, auto);
    justify-items: center;
    align-items: flex-start;
}

.options-container{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.options-container h2{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    margin-left: 5px;
}

.options-container input{
    font-size: 15px;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 8px;
    padding-top: 5px;
}

.text-container{
    background-color: transparent;
    height: auto;
    border-radius: 5px;
    white-space: normal;
    word-wrap: normal;
    text-align: left;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: lighter;
    line-height: 45px;
    display: grid;
    grid-template-rows: 100px auto;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width: 350px;
}

.text-container .verse{
    font-family: bible1;
    color: black;
    transition-duration: .1s;
}

.text-container .verse:hover{
    background-color: rgba(102, 46, 0, 0.1);
}

.text-container h1{
    font-family: bible2;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

.text-columns{
    width: 65vw;
    display: flex;
    justify-content: space-evenly;
}

.text-column{
    width: 25vw;
}

.column-options{
    display: flex;
}

option{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
}

.line{
    background-color: rgb(61, 68, 76);
    width: 1px;
}

p{
    margin: 0px;
}

.verse-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 5vh;
    background-color: #f0f0f0c9;
    animation-name: popUp;
    animation-duration: .25s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.verse-menu input[type=color]{
    width: 30px;
}

.verse-menu button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 20px;
    transition-duration: .15s;
    padding-bottom: 5px;
    border: none;
}

.verse-menu .icon{
    margin-bottom: 5px;
    padding-right: 10px;
}

.verse-menu span{
    margin-bottom: 6px;
    color: white;
}

.verse-menu .cancel-btn{
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0px;
    padding-left: 2px;
    border-radius: 3px;
}

@keyframes popUp {
    from{
        top: 100vh;
    }

    to{
        top: 95vh;
    }
}

@keyframes popDown {
    from{
        top: 95vh;
    }

    to{
        top: 100vh;
    }
}

.verse-num{
    color: var(--tertiary-color);
    font-weight: bold;
    font-family: bible2;
    font-size: 24px;
}

.verse-actions{
    padding: 3px;
    border: none;
    border-radius: 3px;
    background-color: var(--tertiary-color);
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: none;
}

.verse-comments{
    border-left: 3px solid var(--tertiary-color);
    border-radius: 3px;
    padding: 0px;
    margin: 0px;
    display: grid;
}

.verse-comments h2{
    margin: 0px;
    font-size: 18px;
    margin-left: 10px;
    color: var(--tertiary-color);
    font-family: custom1;
}

.verse-comments p{
    font-size: 14px;
    color: var(--tertiary-color);
    margin: 0px;
    margin-left: 10px;
    font-family: custom2;
}

.verse-comment{
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}